
<div class="container">
<form action="/create" method="POST">
    <h2>Добавить телефон на сайт</h2>

    <div class = "input-field">
        <input type = "text" name = "title" class = 'todo-add example' value = "Марка: ">
        <input type = "text" name = "model" class = 'add__model example' value = "Модель: ">
        {{!-- <label>Название модели</label> --}}
        <button type = "submit" class = "btn">
        Добавить товар
        </button>
    </div>

</form>
</div>