.todo {
    margin-bottom: 1rem;
  }


.nav-wrapper{
  padding: 0 80px 0 80px;
  font-family: 'Quicksand', sans-serif;
}
  
  .todo span.completed {
    text-decoration: line-through;
  }
  
  .todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
  }
  
  .todo i {
    z-index: 2;
  }

  .container{
      width: 1200px;
      margin: 0 auto;
  }

  .title{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  }

  .todo-add{
    /* width: 1000px !important; */
    margin-right: 50px !important;
  }

  .example{
    color: #00000054;
  }
  